:root {
  --highlight-color: #ff57b2;
  --heading-color: #f8f8f8;
  --bg-color: #1a1d23;
  --info-color: #bbbbbb;
  --body-color: #d7d7d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
