.container {
  display: block;

  strong {
    display: block;
    color: var(--heading-color);
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;

    transition: color 0.2s ease;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  &:hover {
    strong {
      color: var(--highlight-color);
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;

    & + div {
      margin-left: 1.5rem;
    }
  }

  span,
  time {
    font-size: 0.875rem;
    margin-left: 0.5rem;
    color: var(--info-color);
  }
}
